*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    height: 40px;
    width: 70px;
    border: 0;
    background-color: tomato;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(206, 43, 14);
}

.btn:active {
    background-color: rgb(66, 66, 243);
}

.textarea {
    width: 60%;
    height: 100px;
    margin-right: 20px;
    padding: 10px;
}
